
#main-header {
    text-align: center;
}

#homeSection {
    background: #f4d4aa;
    border-radius: 15px;
    padding: 2rem;
    margin-bottom: 1rem;
}

#indexMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 768px) {
    img {
        width: 60%;
        height: auto;
    }

    p {
        max-width: 50ch;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    img {
        width: 60%;
        height: auto;
    }

    p {
        max-width: 55ch;
    }
}

@media (min-width: 1200px) {
    img {
        max-width: 60%;
    }

    p {
        max-width: 60ch;
    }
}